<div class="container">
 <div class="row">
    <div class="pt-4" font color="#2f4f4f"><h1>ようこそ、ながのCAKEへ</h1></font>
    
    <div class="pt-3" font color="#8B4513"><p>長野県にある小さな洋菓子店「ながのCAKE」です。
    全国どこからでも、商品を楽しんでいただけます。</p></font>
    
    
    <div class="pt-4" font color="#2f4f4f"><h4>通販について</h4></font>
    <font color="#8B4513">
    <p>・ご購入には会員登録が必要です。</p>
    <p>・通販は受注生産で行っております。</p>
    <p>・通販での1日の受注量に制限はありません。</p>
    <p>・送料は1配送につき全国一律800円です。</p>
    <p>・支払方法はクレジットカード、銀行振込から選択が可能です。</p>
    </font>
  </div>
 </div>
