

<div class="container">
 <div class="row">
   <h1 class="mx-auto pt-5 pb-5">商品一覧</h1>
 </div>



 <div class="row">
  <h1 class="mx-left pt-5 pb-5">商品</h1>
  <h1 class="mx-auto pt-5 pb-5">商品</h1>
  <h1 class="mx-right pt-5 pb-5">商品</h1>
 </div>


 <div class="row">
  <h1 class="mx-left pt-5 pb-5">商品</h1>
  <h1 class="mx-auto pt-5 pb-5">商品</h1>
  <h1 class="mx-right pt-5 pb-5">商品</h1>
 </div>


 <div class="row">
  <h1 class="mx-left pt-5 pb-5">商品</h1>
  <h1 class="mx-auto pt-5 pb-5">商品</h1>
  <h1 class="mx-right pt-5 pb-5">商品</h1>
 </div>
</div>
<footer>
  <ul class="footer">
 <li>
<%= link_to "管理者ログイン", new_admin_session_path %>
</li>
</footer>