

<div class="container">
 <div class="row">
   <h1 class="mx-auto pt-5 pb-5">商品一覧</h1>
 </div>
 
 <div class="row">
   <% @items.each do |item| %>
    <%= attachment_image_tag item, :image, :fill, 300, 300, format: 'jpeg' %>
    <%= link_to'item_name', item_path(item.id) %>
    <%= item.price_without_tax %>
   <% end %>
 </div>